  <footer style="display: grid; grid-template-columns: 30vw 30vw 30vw; padding: 5vw; color: white; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;" id="home6">
  	<ol style="list-style: none; line-height: 1.5em;">
  		<li>
  		<a style="color: white;" href="../">Home</a>
  		</li>
  		<li>
  		<a style="color: white;" href="../">About Us</a>
  		</li>
  		<li>
  		<a style="color: white;" href="../">Website</a>
  		</li>
  		<li>
  		<a style="color: white;" href="../">Contact Us</a>
  		</li>
  	</ol>
  	<div>
  		<img src="../img/aresfulllogo.png" width="55%">
  		<ol style="list-style: none; padding-top: 2vw;">
  			<li style="display: inline-block; width: 13%; padding: 0.25vw;"> <img src="../img/instagramlogo2.png" width="100%"></li>
  			<li style="display: inline-block; width: 13%; padding: 0.25vw;"> <img src="../img/linkedinlogo.png" width="100%"></li>
  			<li style="display: inline-block; width: 13%; padding: 0.25vw;"> <img src="../img/youtubelogo.png" width="100%"></li>
  		</ol>
  	</div>
  	<div>
  		Contact adresss:<br>IDK
  	</div>
  </footer>
  </body>
</html>
